.list-permission {
    list-style: none;
}

.list-permission li {
    float: left;
    margin: 20px;
}

.user-panel {
    height: 75px;
}

.user-panel > .image > img {
    border: 1px solid #FFF;
    width: 45px;
    height: 45px;
}

.hidden-control {
  display: none;
}

/*---------------- notification ------------*/
#box-success {
    position: fixed;
    /*opacity: 0.7;*/
    width: 300px;
    right: -500px;
    bottom: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    z-index: 1024;
}

#box-success.enable {
    right: 0;
}

/*notification-menu li unread item*/
ul.menu li.unread-item, ul#notifications-menu  li.unread-item, ul.menu .unread-item, #notifications-menu .unread-item, .unread-item {
    background-color: aliceblue;
}

.check-read {
    display: none;
    font-size: 10px;
    padding: 3px;
    color: green;
    position: absolute;
    right: 4%;
    top: 50%;
    cursor: pointer;
}

.check-read:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF !important;
}

.open-by-cus >.dropdown-menu {
    display: block;
}

.open-by-cus > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}



/*control sidebar custom*/
.control-sidebar {
  height: 100%;
}

.control-sidebar > .tab-content {
  padding-bottom: 40px;
}

.q-tab-custom {
  overflow-y: scroll; 
  height: 100%;
}

.q-tab-custom::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #222D32;
}

.q-tab-custom::-webkit-scrollbar
{
    width: 8px;
    background-color: #222D32;
}

.q-tab-custom::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FFF;
}

.control-sidebar-menu li {
    position: relative;
}

.control-sidebar-menu li p{
    font-size: 12px;
    margin: 0;
}

.check-read-in-control-sidebar-menu {
    display: none;
    font-size: 12px;
    padding: 5px;
    color: green;
    position: absolute;
    right: 4%;
    top: 35%;
    cursor: pointer;
}

.check-read-in-control-sidebar-menu:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF !important;
}

.btn-view-more-notification {
    margin-left: 30%;
    /*position: absolute;
    bottom: 0;
    left: 30%;*/
}

.loading-img-cus {
    margin-left: 45%;
    display: none;
}


/* ------------end notification--------------- */




/*TypeAhead*/

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: auto;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.loading-1 {
    position: absolute !important;
    width: 7%;
    right: 60%;
    top: 0;
}

/*TypeAhead*/