/* CODE COLOR 

#e4002b : red;
#028482 : aqua;


*/



.rs_testimonial_section, 
.rs_index2_topheader, 
.lines, 
.rs_topheader, 
.widget-title,
ul.rs_sorting li a.active:after,
.rs_pagination li:first-child a,
.rs_pagination li a:hover,
.rs_pagination li a.active,
.rs_pagination li:last-child a,
ul.rs_sorting li a:after,
.rs_main_menu ul li:hover a,
.rs_menu_pic_overlay,
.rs_left_tabwrapper ul.nav-tabs li.active, .rs_left_tabwrapper ul.nav-tabs li:hover,
.rs_upper_tabwrapper .nav-tabs > li.active > a, .rs_upper_tabwrapper .nav-tabs > li.active > a:hover, .rs_upper_tabwrapper .nav-tabs > li.active > a:focus,
.rs_tab_wrapper,
.rs_upper_tabwrapper .nav > li > a:hover, .rs_upper_tabwrapper .nav > li > a:focus,
.rs_buy_license_section ul li:before,
.rs_recentlyview_slider_section .owl-theme .owl-dots .owl-dot.active span, .rs_recentlyview_slider_section .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #028482;
}


.rs_user_pic.rs_active h6, 
.rs_user_pic.rs_active i, 
.rs_sort.rs_active i,
.rs_author_div div p a,
.rs_listview .rs_product_category  a,
.rs_popup_form p a,
.rs_menubtn span:hover,
.widget_meta_attributese p a,
.rs_recentlyview_slider_section .owl-theme .owl-dots .owl-dot.active span, .rs_recentlyview_slider_section .owl-theme .owl-dots .owl-dot:hover span {
	color: #028482;
}

.rs_user_profile,
.rs_pagination li a.active,
.rs_product_sorting,
.rs_main_menu ul li .sub-menu,
.rs_left_tabwrapper ul.nav-tabs li.active span:hover, .rs_left_tabwrapper ul.nav-tabs li.active span, .rs_left_tabwrapper ul.nav-tabs li.active span:focus, .rs_left_tabwrapper ul.nav-tabs li:hover span,
.rs_left_tabwrapper ul.nav-tabs li.active, .rs_left_tabwrapper ul.nav-tabs li:hover,
.rs_recentlyview_slider_section .owl-theme .owl-dots .owl-dot.active span, .rs_recentlyview_slider_section .owl-theme .owl-dots .owl-dot:hover span,
.rs_recentlyview_slider_section .owl-theme .owl-dots .owl-dot span {
	border-color: #028482;
}


.search-form-container .search-input-container .rui-search-button {
	background-color: #fe5722;
}

.search-form-container .search-input-container .rui-search-button:hover {
	background-color: #FFF;
	color: #000;
}

.rs_upper_tabwrapper .nav-tabs > li.active > a, .rs_upper_tabwrapper .nav-tabs > li.active > a:hover, .rs_upper_tabwrapper .nav-tabs > li.active > a:focus,
.rs_upper_tabwrapper .nav > li > a:hover, .rs_upper_tabwrapper .nav > li > a:focus {
	border-bottom-color: #FFF;
}


.rs_signup_info a {
    color: #fe5722;
}

.q-rs_newdiv {
	background-color: #028482;
}

.loading-status .loader {
	color: #fe5722;
}