

.rui-text-indent {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block
}

.rui-image-replacement {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    content: "";
    display: block;
    width: 0;
    height: 100%
}

.rui-hidden {
    display: none!important;
    visibility: hidden
}

.rui-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.rui-visuallyhidden.focusable:active,
.rui-visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.rui-invisible {
    visibility: hidden
}

.rui-clearfix:after,
.rui-clearfix:before {
    content: " ";
    display: table
}

.rui-clearfix:after {
    clear: both
}

.rui-clearfix {
    *zoom: 1
}

.rui-clearboth {
    border: none;
    clear: both;
    display: block;
    float: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    margin: 0;
    padding: 0
}

.rui-clear {
    clear: both
}

.rui-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    display: block
}

.rui-loading {
    background: #A4A4A4 url(//s1.rui.au.reastatic.net/rui-static/img/loading_scroll.gif) no-repeat 50% 50%;
    background-size: 30px 30px
}

.rui-grid {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1110px
}

@media only screen and (max-width:480px) {
    .rui-grid.rui-grid-mobile-bleed {
        padding: 0
    }
}

.no-boxsizing .rui-grid,
.rui-grid-fixed {
    width: 1110px
}

.rui-grid .rui-grid-primary {
    margin-right: -300px;
    width: 100%;
    float: left;
    display: block;
    padding-right: 330px;
    box-sizing: border-box
}

.rui-grid .rui-grid-secondary {
    width: 300px;
    float: left;
    display: block
}

@media only screen and (max-width:800px) {
    .rui-responsive .rui-grid .rui-grid-primary,
    .rui-responsive .rui-grid .rui-grid-secondary {
        margin: 0 0 5%;
        padding: 0;
        float: none;
        width: 100%
    }
}

.no-boxsizing .rui-grid .rui-grid-primary {
    margin-right: 0;
    width: 680px;
    padding-right: 0
}

.no-boxsizing .rui-grid .rui-grid-secondary {
    margin-left: 30px
}

.rui-column {
    float: left;
    box-sizing: border-box
}

.rui-grid .rui-grid-column {
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 5%
}

.rui-grid .rui-grid-fifth {
    width: 16%
}

.rui-grid .rui-grid-four-fifths {
    width: 79%
}

.rui-grid .rui-grid-quarter {
    width: 21.25%
}

.rui-grid .rui-grid-three-quarters {
    width: 73.75%
}

.rui-grid .rui-grid-third {
    width: 30%
}

.rui-grid .rui-grid-two-thirds {
    width: 65%
}

.rui-grid .rui-grid-half {
    width: 47.5%
}

.rui-grid .rui-grid-column.first,
.rui-grid .rui-grid-column:first-of-type {
    margin-left: 0
}

@media (max-width:767px) {
    .rui-grid .rui-grid-column {
        width: 47.5%
    }
    .rui-grid .rui-grid-column:nth-of-type(odd) {
        margin-left: 0
    }
}

@media (max-width:560px) {
    .rui-grid .rui-grid-column {
        float: none;
        width: auto;
        margin-left: 0
    }
}

.rui-grid-advanced {
    margin: 0 15px
}

.rui-grid-advanced * {
    box-sizing: border-box
}

.rui-grid-row {
    margin-right: -15px;
    margin-left: -15px
}

.rui-grid-row:after,
.rui-grid-row:before {
    display: table;
    content: " "
}

.rui-grid-row:after {
    clear: both
}

.rui-grid-advanced-mobile-bleed.rui-grid-advanced {
    margin: 0
}

.rui-main-logo {
    margin-bottom: 24px;
    height: 55px;
    width: 310px
}

@media only screen and (max-width:800px) {
    .rui-main-logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none
    }
}

.rui-rea-logo.rui-main-logo {
    background-size: 310px 55px
}

.rui-rca .rui-main-logo {
    height: 50px;
    width: 350px
}

.rui-rca .rui-rca-logo.rui-main-logo {
    background-size: 350px 50px
}

.rui-secondary-logo {
    float: left;
    margin: 30px 0 24px;
    width: 232px;
    height: 42px;
    background-size: 232px 42px
}

.rui-main-logo img,
.rui-secondary-logo img {
    width: 100%
}

@font-face {
    font-family: rui-icon;
    src: url(../fonts/rui-icon.eot);
    src: url(../fonts/rui-icon.eot?#iefix) format("embedded-opentype"), url(../fonts/rui-icon.woff) format("woff"), url(../fonts/rui-icon.ttf) format("truetype"), url(../fonts/rui-icon.svg#rui-icon) format("svg");
    font-weight: 400;
    font-style: normal
}

.rui-icon:before {
    font-family: rui-icon;
    content: attr(data-icon);
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.rui-icon-touch {
    position: relative
}

.rui-icon-touch:after {
    content: " ";
    height: 48px;
    width: 48px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin-left: -15px;
    margin-top: -15px
}

.rui-icon-left:before {
    margin-right: .25em
}

.rui-icon-arrow-down-small:before {
    content: "\e905"
}

.rui-icon-arrow-left-small:before {
    content: "\e906"
}

.rui-icon-arrow-right-small:before {
    content: "\e907"
}

.rui-icon-arrow-up-small:before {
    content: "\e908"
}

.rui-icon-back-small:before {
    content: "\e909"
}

.rui-icon-forward-small:before {
    content: "\e90a"
}

.rui-icon-video:before {
    content: "\e90b"
}

.rui-icon-search-small:before {
    content: "\e900"
}

.rui-icon-multi-user-small:before {
    content: "\e901"
}

.rui-icon-3d-tour-outline:before {
    content: "\e902"
}

.rui-icon-check-on:before {
    content: "\e903"
}

.rui-icon-check-off:before {
    content: "\e904"
}

.rui-icon-bed-small:before {
    content: "\e601"
}

.rui-icon-bath-small:before {
    content: "\e602"
}

.rui-icon-car-small:before {
    content: "\e603"
}

.rui-icon-save-hollow-small:before {
    content: "\e604"
}

.rui-icon-save-small:before {
    content: "\e605"
}

.rui-icon-3d-tour:before {
    content: "\e606"
}

.rui-icon-projects:before {
    content: "\e608"
}

.rui-icon-multi-user2:before {
    content: "\e609"
}

.rui-icon-download:before {
    content: "\e60a"
}

.rui-icon-minimise:before {
    content: "\e60b"
}

.rui-icon-multi-device:before {
    content: "\e60c"
}

.rui-icon-desktop:before {
    content: "\e60d"
}

.rui-icon-laptop:before {
    content: "\e60e"
}

.rui-icon-watch:before {
    content: "\e60f"
}

.rui-icon-unlock:before {
    content: "\e610"
}

.rui-icon-confirm:before {
    content: "\e611"
}

.rui-icon-delete:before {
    content: "\e612"
}

.rui-icon-commission:before {
    content: "\e613"
}

.rui-icon-document:before {
    content: "\e614"
}

.rui-icon-reservation:before {
    content: "\e615"
}

.rui-icon-contact:before {
    content: "\e616"
}

.rui-icon-edit:before {
    content: "\e617"
}

.rui-icon-reports:before {
    content: "\e618"
}

.rui-icon-instagram:before {
    content: "\e619"
}

.rui-icon-save:before {
    content: "\e024"
}

.rui-icon-save-hollow:before {
    content: "\e000"
}

.rui-icon-user-on:before {
    content: "\e001"
}

.rui-icon-user-off:before {
    content: "\e002"
}

.rui-icon-play:before {
    content: "\e011"
}

.rui-icon-home:before {
    content: "\e012"
}

.rui-icon-github:before {
    content: "\e013"
}

.rui-icon-multi-user:before {
    content: "\e014"
}

.rui-icon-quotes:before {
    content: "\e016"
}

.rui-icon-back:before {
    content: "\e017"
}

.rui-icon-forward:before {
    content: "\e018"
}

.rui-icon-add:before {
    content: "\e029"
}

.rui-icon-arrow-down:before {
    content: "\e02a"
}

.rui-icon-arrow-right:before {
    content: "\e02b"
}

.rui-icon-call:before {
    content: "\e02c"
}

.rui-icon-floorplan:before {
    content: "\e02d"
}

.rui-icon-facebook:before {
    content: "\e02e"
}

.rui-icon-twitter:before {
    content: "\e02f"
}

.rui-icon-pinterest:before {
    content: "\e030"
}

.rui-icon-warning:before {
    content: "\e008"
}

.rui-icon-cog:before {
    content: "\e009"
}

.rui-icon-link:before {
    content: "\e00a"
}

.rui-icon-navdeck:before {
    content: "\e00b"
}

.rui-icon-video-camera:before {
    content: "\e00c"
}

.rui-icon-linkedin:before {
    content: "\e00d"
}

.rui-icon-googleplus:before {
    content: "\e019"
}

.rui-icon-avatar:before {
    content: "\e01a"
}

.rui-icon-listview:before {
    content: "\e01b"
}

.rui-icon-arrow-solid-up:before {
    content: "\e01c"
}

.rui-icon-arrow-solid-left:before {
    content: "\e01d"
}

.rui-icon-arrow-up:before {
    content: "\e01e"
}

.rui-icon-arrow-left:before {
    content: "\e01f"
}

.rui-icon-bed:before {
    content: "\e021"
}

.rui-icon-bath:before {
    content: "\e022"
}

.rui-icon-car:before {
    content: "\e023"
}

.rui-icon-mappin:before {
    content: "\e025"
}

.rui-icon-search:before {
    content: "\e026"
}

.rui-icon-office:before {
    content: "\e003"
}

.rui-icon-image:before {
    content: "\e004"
}

.rui-icon-tags:before {
    content: "\e005"
}

.rui-icon-iphone:before {
    content: "\e006"
}

.rui-icon-ipad:before {
    content: "\e007"
}

.rui-icon-camera:before {
    content: "\e00e"
}

.rui-icon-rss:before {
    content: "\e00f"
}

.rui-icon-comments:before {
    content: "\e010"
}

.rui-icon-calculator:before {
    content: "\e032"
}

.rui-icon-calendar:before {
    content: "\e035"
}

.rui-icon-tick:before {
    content: "\e039"
}

.rui-icon-lock:before {
    content: "\e044"
}

.rui-icon-youtube:before {
    content: "\e046"
}

.rui-icon-email:before {
    content: "\e020"
}

.rui-icon-arrow-solid-right:before {
    content: "\e027"
}

.rui-icon-arrow-solid-down:before {
    content: "\e028"
}

.rui-icon-share:before {
    content: "\e031"
}

.rui-icon-cross:before {
    content: "\e600"
}

.rui-icon-dollar:before {
    content: "\e033"
}

.rui-icon-wordpress:before {
    content: "\e034"
}

.rui-header {
    border-bottom: 1px solid #e3e3e3;
    background: #fff;
    text-align: left;
    line-height: 0;
    position: fixed;
    z-index: 21;
    top: 0;
    left: 0;
    width: 100%
}

.rui-header .rui-grid {
    max-width: 1110px;
    padding: 0 15px
}

@media only screen and (min-width:800px) {
    .rui-header {
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden
    }
}

.rui-header.rui-header-not-fixed {
    position: absolute;
    min-width: 1140px;
    border-bottom: 1px solid #e3e3e3
}

.rui-responsive .rui-header.rui-header-not-fixed {
    min-width: 100%
}

.rui-cobranded .rui-header {
    position: relative
}

.rui-cobranded .rui-header .rui-header-container {
    position: static;
    height: auto;
    width: 1140px
}

.rui-cobranded .rui-header .rui-main-nav {
    position: static
}

.rui-cobranded .rui-header .rui-main-nav,
.rui-cobranded .rui-header .rui-myrea-nav {
    padding-top: 15px
}

.rui-cobranded .rui-header .rui-myrea-nav {
    position: relative;
    float: right
}

.rui-cobranded .rui-header .rui-myrea-nav .rui-account-menu-container {
    bottom: -16px
}

.rui-header a {
    text-decoration: none;
    font-size: 1.3em;
}

.rui-header .rui-header-container {
    position: relative;
    height: 156px;
    transition-property: opacity, height;
    transition-duration: .3s, .3s
}

.rui-header .rui-nav-container {
    display: block;
    height: auto;
    position: relative
}

.rui-header .rui-header-container,
.rui-header .rui-nav-container {
    width: 1110px
}

.rui-responsive .rui-header .rui-header-container,
.rui-responsive .rui-header .rui-nav-container {
    width: auto
}

.rui-header .rui-main-logo {
    margin: auto;
    display: block;
    width: 232px;
    height: 42px;
    background-size: 232px 42px;
    position: absolute;
    top: 34px;
    left: 50%;
    margin-left: -115px;
    z-index: 2
}

body:not(.rui-leaderboard-layout) .rui-header .rui-main-logo {
    transition-duration: .3s
}

.rui-header hr.rui-clearboth {
    content: "";
    display: block;
    height: 1px;
    opacity: 0;
    z-index: -1;
    background: #e3e3e3;
    position: absolute;
    width: 100%;
    visibility: visible
}

.rui-header.rui-header-shrink hr.rui-clearboth {
    opacity: 1;
    transition-delay: .3s;
    transition-duration: 0s
}

.rui-header .rui-burger-toggle.rui-desktop {
    outline-width: 0
}

.rui-burger-open .rui-header .rui-burger-toggle.rui-desktop {
    color: #e4002b
}

.rui-header .rui-burger-toggle.rui-desktop span.rui-visuallyhidden {
    
    font-size: .71em;
    letter-spacing: .5px;
    position: relative;
    top: -3px
}

.rui-header .rui-burger-toggle {
    position: absolute;
    transition-duration: .2s;
    top: 25px;
    display: none
}

.rui-header .rui-burger-toggle.rui-desktop {
    display: block;
    opacity: 0
}

.ie8 .rui-header .rui-burger-toggle.rui-desktop {
    visibility: visible
}

.rui-header .rui-burger-toggle.rui-mobile {
    display: none!important
}

@media only screen and (max-width:800px) {
    .rui-header .rui-burger-toggle.rui-desktop {
        display: none!important
    }
    .rui-header .rui-burger-toggle.rui-mobile {
        display: block!important
    }
}

.rui-header #rui-site-links,
.rui-header .rui-main-nav {
    opacity: 1;
    position: absolute;
    transition-duration: 1s
}

.rui-header .rui-mobile-icons,
.rui-header .rui-mobile-nav {
    display: none
}

.rui-header .rui-main-nav {
    position: absolute;
    bottom: 0
}

.rui-header .rui-main-nav .rui-nav-tab {
    float: left
}

.rui-header .rui-main-nav .rui-nav-tab span {
    padding: 0 14px;
    
    font-size: .875em;
    cursor: pointer
}

.rui-header .rui-main-nav .rui-nav-tab a,
.rui-header .rui-main-nav .rui-nav-tab span {
    display: block;
    line-height: 72px
}

.rui-header .rui-main-nav .rui-nav-tab a {
    color: #484848
}

.rui-header .rui-main-nav .rui-nav-tab.rui-nav-active a,
.rui-header .rui-main-nav .rui-nav-tab:hover a {
    color: #e4002b
}

.rui-header .rui-main-nav .rui-nav-tab:first-child a span {
    padding-left: 0
}

.rui-header .rui-sub-nav {
    border-top: solid 1px #e3e3e3;
    background-color: #fcfcfc;
    width: 100%;
    overflow: auto
}

.rui-header .rui-sub-nav ul {
    text-align: center;
    width: 990px;
    margin: auto;
    overflow: auto
}

.rui-header .rui-sub-nav .rui-nav-tab {
    display: inline-block
}

.rui-header .rui-sub-nav .rui-nav-tab span {
    padding: 0 14px;
    
    font-size: .875em;
    cursor: pointer
}

.rui-header .rui-sub-nav .rui-nav-tab a,
.rui-header .rui-sub-nav .rui-nav-tab span {
    display: block;
    line-height: 72px
}

.rui-header .rui-sub-nav .rui-nav-tab a {
    color: #484848
}

.rui-header .rui-sub-nav .rui-nav-tab.rui-nav-active a,
.rui-header .rui-sub-nav .rui-nav-tab:hover a {
    color: #e4002b
}

.rui-header .rui-sub-nav .rui-nav-tab:first-child a span {
    padding-left: 0
}

.rui-header .rui-sub-nav .rui-nav-tab span {
    line-height: 42px;
    text-transform: none
}

.rui-header .rui-myrea-nav {
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: .875em;
    font-family: Museo-Sans-500, helvetica, arial, sans-serif
}

.rui-header .rui-myrea-nav .rui-user-menu {
    display: table
}

.rui-header .rui-myrea-nav .rui-user-menu>li {
    height: 72px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px
}

.rui-header .rui-myrea-nav .rui-button-brand {
    font-weight: 400
}

.rui-header .rui-myrea-nav .logged-in .rui-person-guy {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    z-index: 1;
    display: block;
    position: relative
}

.ie8 .rui-header .rui-myrea-nav .logged-in .rui-person-guy {
    font-size: 28px
}

.rui-header .rui-myrea-nav .logged-in .rui-person-guy.rui-icon-user-off:after {
    border: solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute;
    content: "";
    border-top-color: #000;
    border-width: 4px;
    top: 10px;
    right: 1px
}

.rui-header .rui-myrea-nav .logged-in .rui-person-guy:before {
    margin-right: .5em
}

.rui-header .rui-myrea-nav .logged-in .rui-person-guy.rui-icon-user-off.rui-toggle-open:before {
    content: "\e001"
}

.rui-header .rui-myrea-nav .logged-in .rui-person-guy.rui-icon-user-off.rui-toggle-open:after {
    border-bottom-color: #000;
    border-top-color: transparent;
    top: 7px
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container {
    height: 0;
    position: absolute;
    bottom: -1px;
    overflow: visible;
    z-index: 1000;
    width: 262px;
    margin: 0;
    padding: 0;
    right: -15px
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container .rui-account-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    border-top: none;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, .1)0 4px 0
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li {
    display: block
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li a {
    display: block;
    position: relative;
    background-color: #fff;
    line-height: 48px;
    font-size: 16px;
    padding-left: 20px;
    color: #3b3b3b;
    border-bottom: 1px solid #e3e3e3;
    transition-duration: .1s
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li a:hover {
    background-color: #fbfbfb;
    color: #000
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li a .rui-icon {
    position: absolute;
    font-size: 18px;
    line-height: 48px;
    top: -1px;
    color: #3b3b3b;
    float: none
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li a .rui-icon.rui-icon-home {
    color: #40bbb2
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li a .rui-icon.rui-icon-save {
    color: #ffbf00
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li a .rui-icon+span {
    padding-left: 25px
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li.last a {
    position: relative;
    line-height: 16px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-right: 15px;
    border-bottom: none
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li.last a span {
    margin-top: 2px;
    font-size: 13px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li.first a:after,
.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li.first a:before {
    border: solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
    z-index: 1000;
    position: absolute;
    content: ""
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li.first a:before {
    border-bottom-color: #bebebe;
    border-width: 10px;
    top: -20px;
    right: 27px
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li.first a:after {
    border-bottom-color: #fff;
    border-width: 9px;
    top: -18px;
    right: 28px;
    content: ""
}

.rui-header .rui-myrea-nav .logged-in .rui-account-menu-container li.first a:hover:after {
    border-bottom-color: #fbfbfb
}

@media only screen and (max-width:1140px) {
    .rui-responsive .rui-header.rui-header-shrink .rui-main-nav .rui-nav-tab span {
        padding: 0 11px
    }
    .rui-responsive .rui-header:not(.rui-header-shrink) .rui-main-nav .rui-nav-tab span {
        padding: 0 8px;
        font-size: 12px
    }
    .rui-responsive .rui-header:not(.rui-header-shrink) .rui-main-nav .rui-nav-tab:first-child a span {
        padding-left: 0
    }
    .rui-responsive .rui-header .rui-myrea-nav .logged-out li {
        margin-right: 0;
        padding-left: 10px
    }
    .rui-responsive .rui-header .rui-myrea-nav .logged-out li:first-child {
        font-size: 12px;
        margin-right: 10px
    }
    .rui-responsive .rui-header .rui-myrea-nav .logged-out li .rui-button-brand {
        font-size: 12px;
        padding: 11px 14px
    }
}

@media only screen and (min-width:881px) and (max-width:1140px) {
    .rui-responsive .rui-header:not(.rui-header-shrink) .rui-main-nav .rui-nav-tab span {
        padding: 0 12px;
        font-size: 12px
    }
}

@media only screen and (max-width:800px) {
    .rui-responsive .rui-header.rui-header-shrink .rui-main-nav .rui-nav-tab span,
    .rui-responsive .rui-header:not(.rui-header-shrink) .rui-main-nav .rui-nav-tab span {
        padding: 0 6px
    }
}

@media only screen and (max-width:750px) {
    .rui-responsive .rui-header:not(.rui-header-shrink) .rui-main-nav .rui-nav-tab span {
        padding: 0 5px
    }
}

@media only screen and (max-width:880px) {
    .rui-responsive .rui-header .rui-myrea-nav .rui-button-brand {
        padding-top: 11px;
        padding-bottom: 11px
    }
}

.rui-header.rui-header-shrink #rui-site-links,
.rui-header.rui-header-shrink .rui-main-nav {
    opacity: 0;
    z-index: -1;
    transition-duration: .2s
}

.rui-header.rui-header-shrink .rui-main-logo {
    display: inline-block;
    width: 156px;
    margin-left: -78px
}

.rui-header.rui-header-shrink .rui-nav-container {
    text-align: center;
    height: auto
}

.rui-header.rui-header-shrink .rui-burger-toggle {
    visibility: visible
}

.rui-header.rui-header-shrink .rui-main-logo {
    top: 22px
}

.rui-header.rui-header-shrink .rui-header-container {
    height: 72px
}

.rui-header.rui-header-shrink .rui-burger-toggle {
    opacity: 1
}

.ie8 .rui-header.rui-header-shrink .rui-burger-toggle {
    display: block;
    visibility: visible
}

.rui-header.rui-header-shrink .rui-nav-container {
    z-index: 22
}

.rui-header.rui-header-shrink .rui-nav-container .rui-main-nav,
.rui-header.rui-header-shrink .rui-nav-container .rui-sub-nav {
    height: 0;
    overflow: hidden;
    position: relative
}

.rui-header.rui-header-shrink .rui-nav-container .rui-main-nav ul,
.rui-header.rui-header-shrink .rui-nav-container .rui-sub-nav ul {
    display: inline-block
}

.rui-burger.rui-burger-open .rui-header.rui-header-shrink .rui-nav-container {
    top: 1px
}

.rui-burger.rui-burger-open .rui-header.rui-header-shrink .rui-nav-container .rui-main-nav,
.rui-burger.rui-burger-open .rui-header.rui-header-shrink .rui-nav-container .rui-sub-nav {
    left: -1px;
    height: 72px;
    opacity: 1;
    bottom: 0
}

.rui-header.rui-header-shrink .rui-sub-nav ul {
    text-align: center
}

.rui-burger-open:not(.ie8) .rui-header.rui-header-shrink {
    border-bottom: none;
    box-shadow: rgba(0, 0, 0, .1)0 4px 0
}

@media only screen and (max-width:800px) {
    .rui-responsive .rui-header #rui-site-links,
    .rui-responsive .rui-header .rui-main-nav {
        opacity: 0;
        z-index: -1;
        transition-duration: .2s
    }
    .rui-responsive .rui-header .rui-main-logo {
        display: inline-block;
        width: 156px;
        margin-left: -78px
    }
    .rui-responsive .rui-header .rui-nav-container {
        text-align: center;
        height: auto
    }
    .rui-responsive .rui-header .rui-burger-toggle {
        visibility: visible
    }
    .rui-responsive .rui-header .rui-main-logo {
        top: 0
    }
    .rui-responsive .rui-header .rui-header-container {
        height: 36px
    }
    .rui-responsive .rui-header .rui-myrea-nav {
        padding-bottom: 10px
    }
    .rui-responsive .rui-header .rui-burger-toggle {
        top: 3px
    }
}

@media only screen and (max-width:800px) and (max-width:500px) {
    .rui-responsive .rui-header .rui-burger-toggle {
        left: 15px
    }
}

@media only screen and (max-width:800px) {
    .rui-responsive .rui-header .rui-main-nav {
        display: none
    }
    .rui-responsive .rui-header .rui-main-logo {
        margin-bottom: 0;
        height: auto;
        width: 140px
    }
    .rui-responsive .rui-header .rui-burger-toggle,
    .rui-responsive .rui-header.rui-header-shrink .rui-burger-toggle {
        opacity: 1;
        z-index: 1
    }
    .rui-responsive .rui-header .rui-nav-container {
        position: static
    }
    .rui-responsive .rui-header #rui-site-links,
    .rui-responsive .rui-header .rui-burger-toggle.rui-mobile span:first-child,
    .rui-responsive .rui-header .rui-myrea-nav {
        display: none
    }
    .rui-responsive .rui-header .rui-mobile-nav {
        display: block
    }
    .rui-responsive .rui-header hr.rui-clearboth {
        display: none
    }
    .rui-responsive .rui-header {
        position: static;
        padding-top: 12px
    }
    .rui-responsive .rui-header .rui-mobile-icons {
        top: 3px;
        right: 15px;
        position: absolute;
        line-height: normal;
        font-size: 1.2em;
        display: block;
        color: #697684
    }
}

.rui-leaderboard-layout .rui-header .rui-header-container {
    height: 174px;
    position: relative
}

.rui-leaderboard-layout .rui-header #rui-site-links {
    display: none
}

.rui-leaderboard-layout .rui-header .rui-leaderboard {
    position: absolute;
    right: 0;
    top: 15px;
    display: block;
    line-height: 0;
    font-size: 0;
    transition-delay: .3s;
    transition-duration: .3s;
    background: #fff;
    border: none
}

.rui-leaderboard-layout .rui-header .rui-main-logo {
    left: 15px;
    margin-left: 0
}

.rui-leaderboard-layout .rui-header .rui-burger-toggle {
    transition-duration: 0s
}

.rui-leaderboard-layout .rui-header.rui-header-shrink .rui-main-logo {
    left: 50%;
    margin-left: -78px;
    -webkit-animation: fadeInAndMoveLogo 1s;
    -moz-animation: fadeInAndMoveLogo 1s;
    -o-animation: fadeInAndMoveLogo 1s;
    animation: fadeInAndMoveLogo 1s
}

.rui-leaderboard-layout .rui-header.rui-header-shrink .rui-leaderboard {
    left: 247px;
    top: -105px;
    position: relative;
    transition-delay: .05s;
    transition-duration: .05s
}

.rui-leaderboard-layout .rui-header.rui-header-shrink .rui-burger-toggle {
    transition-delay: .3s;
    transition-duration: .5s
}

.rui-leaderboard-layout .rui-header.rui-header-shrink .rui-header-container {
    height: 72px
}

.rui-leaderboard-layout .rui-header .rui-myrea-nav {
    z-index: 10
}

.rui-header .rui-leaderboard-container {
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 0
}

.rui-hero {
    padding: 100px 0;
    margin-top: -30px
}

.rui-hero .rui-hero-heading {
    font-family: Museo-Sans-300, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.813em;
    line-height: 1.25em;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2)
}

.rui-hero .rui-hero-content {
    margin: auto;
    max-width: 750px
}

.rui-form {
    margin-bottom: 20px
}

fieldset {
    margin: 0;
    padding: 0
}

.rui-form-element {
    display: block;
    margin-bottom: 20px
}

select.rui-select {
    border: 1px solid #e0e0e0;
    padding: 14px 20px;
    width: 100%
}

.rui-icon-select-touch-friendly {
    line-height: .6em;
    font-size: .7em;
    margin-top: 1.5em;
    margin-left: -1.9em;
    position: absolute
}

select.rui-select[multiple] {
    height: 40px
}

.rui-input {
    border: 1px solid #e0e0e0;
    padding: 14px 20px;
    border-radius: 4px;
    color: #111;
    background-color: #fff;
    line-height: 1.5;
    font-size: .875em;
    font-family: Museo-Sans-300;
    -webkit-appearance: none;
    -moz-appearance: none
}

select.rui-input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.rui-input:focus {
    outline: 0;
    box-shadow: inset 0 0 8px #eee
}

.rui-input-error span {
    color: #f34851
}

.rui-input-error .rui-input {
    border-color: #f34851;
    position: relative;
    z-index: 10
}

.rui-input,
.rui-select li,
.rui-select-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.rui-field-group .rui-form-element .rui-input {
    position: relative;
    top: 1px
}

.rui-field-group .rui-form-element:last-child .rui-input {
    position: relative;
    top: 0
}

.rui-field-group {
    margin: 0 0 20px;
    padding: 0
}

.rui-field-group .rui-form-element {
    margin-bottom: 0
}

.rui-field-group .rui-input {
    margin-bottom: 0;
    border-radius: 0
}

.rui-form .rui-form-hint {
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px;
    color: #111;
    display: block;
    font-size: 1.125em
}

.rui-field-group .rui-form-element:first-of-type input.rui-input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.rui-field-group .rui-form-element .rui-last-input,
.rui-field-group .rui-form-element:last-child .rui-input {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #dadada
}

.rui-field-group .rui-form-element.rui-input-error:last-child .rui-input {
    border-color: #f34851
}

.rui-field-group .rui-nested-input {
    float: left;
    width: 50%
}

.rui-field-group .rui-nested-last {
    border-left: none
}

.rui-field-group .rui-input:first-child,
.rui-field-group input.rui-nested-first {
    border-top-left-radius: 4px;
    border-top-right-radius: 0!important
}

.rui-form-compact .rui-nested-last {
    border-top-right-radius: 4px
}

textarea.rui-input {
    min-height: 100px;
    max-height: 150px;
    overflow-y: auto
}

:-moz-placeholder,
::-webkit-input-placeholder {
    color: #9b9b9b;
    font-style: normal
}

.rui-input.rui-select.rui-image-icon.rui-image-icon-dropdown.rui-toggle-link.rui-value-selected {
    color: #111
}

-moz-placeholder,
.rui-input::-webkit-input-placeholder {
    font-style: normal
}

.rui-input-error .rui-input::-webkit-input-placeholder {
    color: #f34851;
    font-style: normal
}

.rui-input-error .rui-input::-moz-placeholder {
    color: #f34851;
    font-style: normal
}

.rui-input-error input:-moz-placeholder {
    color: #f34851;
    font-style: normal
}

.rui-form label span {
    display: block;
    font-weight: 700;
    margin-bottom: 5px
}

.rui-form-compact label span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.rui-select-menu {
    display: none;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 0;
    margin-top: 9px;
    position: absolute;
    background: #fff;
    max-height: 224px;
    overflow-y: auto;
    z-index: 100;
    font-size: .875em;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2)
}

.rui-select-menu li {
    padding: 3px 7px;
    margin: 0 3px;
    border-radius: 4px;
    position: relative;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.rui-select-menu li .rui-select-subtitle {
    font-size: .875em
}

.rui-select-menu li .rui-checkbox-hide {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) 0 0 repeat
}

.rui-select-menu li input[type=checkbox] {
    float: left;
    margin-top: 4px
}

.rui-select-menu li .rui-label {
    display: inline-block;
    padding-left: 5px
}

.rui-select-menu li.rui-current-list {
    background: #EEE;
    cursor: pointer
}

.rui-select-menu li.rui-disabled {
    color: #aaa;
    background: #fff
}

.rui-select-menu li.rui-disabled input[type=checkbox] {
    display: none
}

.rui-select-menu li.rui-disabled,
.rui-select-menu li.rui-disabled * {
    cursor: auto
}

.rui-select-wrapper {
    outline: 0;
    border-radius: 4px
}

.rui-select-wrapper:after,
.rui-select-wrapper:before {
    opacity: 1
}

.ie8 .rui-select-wrapper:after,
.ie8 .rui-select-wrapper:before {
    display: block
}

.rui-select-wrapper.rui-select-focused .rui-select-link,
.rui-select-wrapper.rui-select-open .rui-select-link {
    position: relative;
    box-shadow: inset 0 0 8px #eee
}

.rui-select-wrapper .rui-select .rui-icon {
    float: right;
    color: #111
}

.rui-select-wrapper .rui-select .rui-icon:before {
    margin-right: 0
}

.rui-select-link {
    width: 100%;
    display: table;
    table-layout: fixed
}

.rui-select-link input {
    position: absolute;
    border: none;
    cursor: auto;
    -webkit-appearance: none;
    appearance: none;
    width: 1px;
    height: 1px;
    background: 0 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    z-index: -1!important
}

.rui-select-link>span {
    padding-right: 18px;
    width: 100%;
    text-decoration: none;
    color: #9b9b9b
}

.rui-select-link>i,
.rui-select-link>span {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.rui-select-link>i {
    position: relative;
    line-height: .6em;
    font-size: .8em
}

.rui-select-open,
.rui-toggle-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.rui-form-icon {
    position: relative
}

.rui-form-icon .rui-input {
    padding-left: 48px
}

.rui-form-icon .rui-icon {
    position: absolute;
    z-index: 11;
    font-size: 1.125em;
    bottom: .8em;
    left: 1em
}

.rui-input-error .rui-icon {
    color: #f34851
}

.rui-select-wrapper {
    position: relative
}

.rui-select-wrapper .rui-input {
    cursor: pointer
}

.rui-toggle-container {
    display: none
}

.rui-relative-toggle {
    position: relative
}

.rui-relative-toggle .rui-toggle-container {
    position: absolute
}

.lt-ie10 .rui-form-compact label span {
    height: auto;
    margin: auto;
    overflow: auto;
    padding: 0;
    position: static;
    width: 100%;
    display: block;
    margin-bottom: 5px
}

.lt-ie10 .rui-form-compact .rui-field-group .rui-input {
    margin-bottom: 10px;
    border-radius: 4px
}

.lt-ie10 .rui-form-compact .rui-field-group .rui-input-error .rui-input {
    border-color: #f34851
}

.lt-ie10 .rui-field-group .rui-nested-input {
    width: 100%
}

.lt-ie10 .rui-form-compact .rui-field-group .rui-input,
.lt-ie10 .rui-input {
    border: 1px solid #e0e0e0
}

.rui-message {
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 20px
}

.rui-error {
    border-color: #f7d7da;
    background-color: #fff3f4;
    color: #f65151
}

.rui-success {
    background-color: #e5f6e5;
    border-color: #c5e8c5;
    color: #189b15
}

.rui-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad
}

.rui-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #c09853
}

.rui-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    content: ""
}

.rui-arrow-up {
    border-bottom: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.rui-arrow-down {
    border-top: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.rui-arrow-left {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #000
}

.rui-arrow-right {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000
}

.rui-auto-complete-list {
    cursor: default;
    z-index: 1000;
    list-style: none;
    display: block;
    outline: 0;
    border-width: 0 1px 1px;
    border-color: rgba(0, 0, 0, .1);
    border-style: solid;
    background: #fff;
    padding: .5em;
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .3);
    border-radius: 0 0 1px 1px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz--border-radius: 0 0 3px 3px;
}

.no-rgba .rui-auto-complete-list {
    border-color: #e6e6e6;
}

.rui-auto-complete-list .rui-auto-complete-item .rui-icon-add {
    position: absolute;
    right: 6px;
    top: 1px;
    display: none;
}

.rui-auto-complete-list .rui-auto-complete-item.selected .rui-icon-add {
    display: block;
}

.rui-auto-complete-list .rui-auto-complete-item a {
    text-decoration: none;
    display: block;
    min-height: 0;
    font-size: .9em;
    font-weight: 400;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    color: #3b3b3b;
    line-height: 2em;
    padding: 1px .5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 30px;
    position: relative;
}

.rui-auto-complete-list .rui-auto-complete-item a .partialMatch {
    font-weight: 700;
    font-family: Museo-Sans-500, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.rui-auto-complete-list .rui-auto-complete-item.selected a {
    font-weight: 400;
    background-color: #dfecf8;
    color: #296dd3
}

.rui-search-container .rui-input {
    font-size: 1.125em;
    letter-spacing: 0;
    width: 100%;
    -webkit-appearance: none;
    box-shadow: none!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1
}

@media (min-width:480px) {
    .rui-search-container .rui-input {
        border-right: none;
        padding-right: 9em
    }
}

.rui-search-container {
    position: relative
}

.rui-auto-complete-list,
.rui-auto-complete-list a,
.rui-auto-complete-list li,
.rui-search-container,
.rui-search-container a,
.rui-search-container li {
    font-weight: 300;
    font-family: Museo-Sans-300, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.rui-search-container .rui-icon.rui-icon-cross {
    font-size: .9em;
    color: #a3a3a3;
    display: none;
    position: absolute;
    top: 30%;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    text-align: center
}

.rui-search-container .rui-icon.rui-icon-cross:before {
    margin-right: 0
}

.rui-search-container .clear-text-container {
    position: absolute;
    right: 6.1em;
    display: block;
    background-color: #fff;
    width: 3.5em;
    height: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 5%
}

.rui-search-container .rui-search-button {
    outline: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 5.5em;
    font-size: 1.125em;
    background: #e4002b;
    border: none;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%
}

.ie8 .rui-search-container .rui-input {
    border: 1px solid #e6e6e6
}

.ie8 .rui-auto-complete-list {
    border-color: #e6e6e6
}

.rui-search-container.list-visible .rui-search-button {
    border-bottom-right-radius: 0
}

.rui-search-container.list-visible .rui-input {
    border-bottom-left-radius: 0
}

.rui-search-button .rui-icon:before {
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center
}

.rui-search-container .rui-input::-ms-clear {
    display: none
}

@media only screen and (max-width:480px) {
    .rui-responsive .rui-search-container.rui-search-mobile .rui-search-button {
        width: 100%;
        display: block;
        position: inherit;
        right: auto;
        top: auto;
        font-family: Museo-Sans-300, "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 1em 0 0;
        padding: 14px 0;
        border-radius: 4px;
        height: auto
    }
    .rui-responsive .rui-search-container.rui-search-mobile .rui-search-button .rui-icon-search {
        display: none
    }
    .rui-responsive .rui-search-container.rui-search-mobile .rui-search-button .rui-visuallyhidden {
        clip: inherit;
        height: auto;
        margin: 0;
        overflow: inherit;
        padding: 0;
        position: inherit;
        width: auto
    }
    .rui-responsive .rui-search-container.rui-search-mobile-no-button .rui-search-button {
        display: none
    }
    .rui-responsive .rui-search-container.rui-search-mobile .clear-text-container,
    .rui-responsive .rui-search-container.rui-search-mobile-no-button .clear-text-container {
        top: .2em;
        height: 2em;
        right: .5em;
        width: 2em
    }
}







.search-refinements {
    position: relative;
    display: inline-block;
    color: #333f48;
    width: 722px;
    height: 44px;
    z-index: 0
}

.js .search-refinements .rui-icon-select-touch-friendly,
.js .search-refinements select.rui-select,
.js .search-refinements .rui-select-wrapper {
    transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    /* opacity: 0 */
}

.app-loaded.js .search-refinements .rui-icon-select-touch-friendly,
.app-loaded.js .search-refinements select.rui-select,
.app-loaded.js .search-refinements .rui-select-wrapper {
    opacity: 1
}

.search-refinements .condition {
    float: left;
    vertical-align: top;
    height: 100%;
    margin-top: 14px
}

.search-refinements .condition .rui-select-link {
    width: auto
}

.search-refinements .condition .rui-select-link span {
    float: left;
    width: auto;
    padding-right: 4px
}

.search-refinements .condition .select-holder {
    position: relative;
    display: inline-block
}

.search-refinements .condition .select-holder>label {
    display: none
}

.no-js .search-refinements .condition .select-holder>label {
    display: block;
    font-size: 10px;
    font-size: .625rem
}

.search-refinements .condition .rui-input {
    border: none;
    padding: 6px 9px;
    line-height: 1;
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    color: #fff
}

.search-refinements .condition .rui-icon-select-touch-friendly {
    position: relative;
    color: #fff;
    margin-top: 20px;
    margin-left: 3px
}

.search-refinements .condition select.rui-select {
    width: auto
}

.search-refinements .condition .rui-select-wrapper.rui-select-open .rui-select-link {
    box-shadow: none
}

.search-refinements .condition .rui-select-wrapper .rui-select span {
    color: #fff;
    font-size: 1.3em;
}

.search-refinements .condition .rui-select-wrapper .rui-select .rui-icon {
    font-size: 14px;
    line-height: 14px;
    color: #fff
}

.search-refinements .condition .rui-select-wrapper.rui-select-focused .rui-select-link {
    box-shadow: none
}

.search-refinements .condition .rui-select-menu {
    margin-top: 10px
}

.search-refinements .condition .rui-select-menu li.rui-select-list {
    white-space: nowrap
}

.no-js .search-refinements .condition.property-select-holder,
.no-js .search-refinements .condition.property-select-holder select.rui-select {
    height: 80px;
    padding-bottom: 10px
}

.search-refinements .condition.property-select-holder .rui-select-menu {
    width: 166px
}

.search-refinements .condition.bed-select-container .rui-select-menu {
    width: 70px
}

.search-refinements .condition.price-select-container .rui-select-menu {
    width: 110px
}

.search-refinements .condition.available-date-container {
    display: none
}

.is-tablet .search-refinements .condition.available-date-container>.select-holder {
    margin-right: 8px
}

.rent .search-refinements .condition.available-date-container {
    display: block
}

.search-refinements .condition.available-date-container .rui-select-menu {
    min-width: 118px
}

.search-refinements .condition.rural-container .rui-select-menu {
    min-width: 178px
}

.search-refinements .rui-input {
    background-color: transparent
}

.search-refinements .rui-select-link span,
.search-refinements .rui-select-link i {
    color: #fff
}

.search-form-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 24px 24px 5px;
    box-sizing: border-box;
    border-radius: 3px
}

/* .search-form-container .search-inner-container {
    font-size: 0
}
 */
.search-form-container .search-inner-container .rui-select-list {
    font-size: 14px;
    font-size: .875rem
}

.search-form-container .search-channel-container .rui-select,
.search-form-container .search-input-container .rui-input,
.search-form-container .search-input-container .rui-search-button {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px
}

.search-form-container .rui-search-container.list-visible .rui-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.search-form-container .search-channel-container,
.search-form-container .search-input-container {
    display: inline-block;
    vertical-align: top
}

.search-form-container .search-channel-container {
    width: 86px;
    color: #333f48
}

.search-form-container .search-channel-container select.rui-select {
    height: 60px;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "Museo-Sans-300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 0;
    padding-bottom: 0
}

.search-form-container .search-channel-container .rui-select {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 12px;
    border-radius: 2px 0 0 2px;
    border-right: solid 1px #e1e4e6
}

.search-form-container .search-channel-container .rui-icon-select-touch-friendly {
    margin-top: 29px
}

.search-form-container .search-channel-container .rui-select-wrapper span {
    line-height: 1;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "Museo-Sans-300", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.search-form-container .search-channel-container i.rui-icon {
    font-size: 14px;
    font-size: .875rem
}

.search-form-container .search-input-container {
    /* width: 648px */
    width: 100%;
}

.search-form-container .search-input-container .search-icon {
    font-size: 24px;
    font-size: 1.5rem;
    position: absolute;
    top: 17px;
    left: 11px;
    color: #565f73
}

.search-form-container .search-input-container .rui-input {
    height: 60px;
    padding: 20px 65px 20px 46px;
    font-family: "Museo-Sans-300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    font-size: 18px;
    font-size: 1.125rem;
    border-radius: 0 2px 2px 0
}

.search-form-container .search-input-container .rui-search-button {
    background: #e4002b;
    width: 100%;
    height: 60px;
    padding: 20px auto;
    letter-spacing: 1.4px;
    line-height: 1;
    /* right: -152px; */
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.search-form-container .search-input-container .rui-search-button:hover {
    background: #a30000
}

.search-form-container .search-input-container .clear-text-container {
    right: 0;
    font-size: 14px;
    font-size: .875rem
}

.search-form-container h1 {
    font-family: "Museo-Sans-300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 12px;
    margin-top: 0
}

.buy .search-form-container h1:before {
    color: #e4002b
}

.rent .search-form-container h1:before {
    color: #1688ea
}

.sold .search-form-container h1:before {
    color: #ecb100
}

.search-form-container .land-container {
    width: 211px;
    position: relative
}

.search-form-container .land-container .rui-form-element {
    font-size: 14px;
    font-size: .875rem;
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 1;
    float: left;
    width: 47%;
    color: #fff;
    padding: 15px 0;
    box-sizing: border-box
}

.search-form-container .land-container .rui-form-element span {
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 28px;
    z-index: 5;
    color: #fff
}

.search-form-container .land-container .rui-input {
    float: right;
    width: 53%;
    color: #fff
}

@media only screen and (max-width: 900px) {
    .rui-responsive .search-form-container {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        padding-bottom: 20px
    }
}

@media only screen and (max-width: 719px) {
    .rui-responsive .search-form-container {
        margin-top: 0;
        padding-top: 1px
    }
}

.recent-locations {
    padding-top: 0em
}

.recent-locations .rui-auto-complete-item:hover a {
    font-weight: normal;
    background-color: #dfecf8;
    color: #296dd3
}

.recent-locations .rui-auto-complete-item:hover a .rui-icon-add {
    display: block
}

.recent-locations .recent-locations-itemlist {
    padding-top: 2em
}

.recent-locations .recent-locations-title {
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #E5E5D9;
    left: 0;
    top: 0;
    width: 100%
}

.recent-locations .recent-locations-title {
    background: #DADFE4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 4px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1em
}

.rui-auto-complete-list .recent-locations-item a {
    margin: 1px 0 1px 0;
    text-decoration: none;
    display: block;
    min-height: 0;
    font-size: 0.9em;
    font-weight: normal;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    color: #3b3b3b;
    line-height: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em
}

.rui-auto-complete-list .recent-locations-item a:hover {
    font-weight: normal;
    background-color: #dfecf8;
    color: #296dd3
}

.rui-auto-complete-list .recent-locations-item a:hover .rui-icon-add {
    display: block
}

.rui-auto-complete-list .recent-locations-item a .rui-icon-add {
    float: right;
    display: none
}

.formSuburbSurroundings {
    font-size: 13px;
    font-size: .8125rem;
    font-family: "Museo-Sans-300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    margin-top: 2px;
    padding-top: 13px;
    float: right
}

.formSuburbSurroundings input[type=checkbox] {
    margin-right: 0.2em
}

.is-tablet .formSuburbSurroundings input[type=checkbox] {
    margin-right: 0;
    vertical-align: middle
}

.rui-select-wrapper {
    z-index: 1
}

.rui-select-wrapper .rui-input.rui-select-link {
    z-index: 1
}

.search-channel-container .rui-select-wrapper.rui-select-focused:after,
.search-channel-container .rui-select-wrapper.rui-select-open:after {
    z-index: 0;
    position: absolute;
    top: -2px;
    left: -2px;
    border: solid 2px #bdddfa;
    border-radius: 3px;
    content: "";
    width: 100%;
    height: 100%;
    transition-duration: 0;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0
}

.search-refinements .rui-select-wrapper.rui-select-focused:after,
.search-refinements .rui-select-wrapper.rui-select-open:after {
    z-index: 0;
    position: absolute;
    top: -1px;
    left: -1px;
    border: dotted 1px #fff;
    border-radius: 0;
    content: "";
    width: 100%;
    height: 100%;
    transition-duration: 0;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0
}

.search-inner-container {
    position: relative;
    z-index: 1
}

.search-channel-container {
    z-index: inherit
}

.search-input-container {
    z-index: 0
}

.search-input-container .search-icon,
.search-input-container .clear-text-container {
    z-index: 2
}

.search-input-container .rui-input {
    position: relative;
    z-index: 1
}

.search-input-container .focus-border {
    display: none;
    z-index: 0;
    position: absolute;
    top: -2px;
    left: -2px;
    border: solid 2px #bdddfa;
    border-radius: 3px;
    content: "";
    width: 100%;
    height: 100%;
    transition-duration: 0;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0
}

.rea-products {
    background: #f7f8f9;
    text-align: center;
    padding: 40px 0;
    min-width: 1140px
}

.rea-products .rea-product-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    white-space: nowrap
}

.ie .rea-products .rea-product-link {
    background-image: url("about:blank")
}

@media screen and (min-width: 0\0) {
    .rea-products .rea-product-link {
        background-image: url("about:blank")
    }
}

.rea-products .rea-product-content {
    padding: 0 20px;
    position: relative
}

.rea-products .rea-product-content:hover .rea-product-call-to-action {
    color: #710014
}

.rea-products .rea-product-image {
    margin: 10px 0
}

.rea-products .rea-product-heading {
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 0
}

.rea-products .rea-product-heading a {
    text-decoration: none;
    color: #333f48
}

.rea-products .rea-product-blurb {
    margin: 10px 0
}

.rea-products .rea-product-call-to-action {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.750em;
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e4002b;
    padding: 10px 0;
    display: block;
    letter-spacing: 1.6px
}

.rea-products .rea-product-call-to-action:hover {
    text-decoration: underline
}

.rea-news .rea-news-section-heading {
    font-size: 1.875em;
    font-family: "Museo-Sans-700", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.rea-news .rea-news-article {
    padding: 20px 0;
    position: relative
}

.rea-news .rea-news-article .rea-news-image {
    float: left
}

.rea-news .rea-news-article .rea-news-image .brand-strip {
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: -30px
}

.rea-news .rea-news-article .rea-news-image .brand-logo img {
    height: 24px;
    padding: 3px 7px
}

.rea-news .rea-news-article .rea-news-content {
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 270px;
    margin-left: -240px
}

.rea-news .rea-news-article .rea-news-heading {
    color: #333f48;
    font-size: 1.5em;
    margin: 0
}

.rea-news .rea-news-article:hover .rea-news-heading {
    color: #e4002b
}

.rea-news .rea-news-article .rea-news-byline {
    font-size: 0.75em;
    color: #969fa9;
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.rea-news .rea-news-article .rea-news-excerpt {
    margin: 10px 0;
    color: #697684
}

.rea-news .rea-news-article .rea-news-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    z-index: 1
}

.ie .rea-news .rea-news-article .rea-news-link {
    background-image: url("about:blank")
}

@media screen and (min-width: 0\0) {
    .rea-news .rea-news-article .rea-news-link {
        background-image: url("about:blank")
    }
}

.seo-footer {
    background: #333f48;
    padding: 40px 0 10px;
    min-width: 1140px
}

.seo-footer,
.seo-footer h5 {
    font-family: "Museo-Sans-300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: .875rem;
    color: #fff
}

.seo-footer a,
.seo-footer h5 {
    color: #cbcfd4;
    text-decoration: none;
    line-height: 1.8em
}

.seo-footer a:hover,
.seo-footer h5:hover {
    text-decoration: none;
    display: inline-block;
    color: #fff
}

.seo-footer h5 {
    padding: 10px 20px;
    margin: 0;
    font-weight: normal
}

.seo-footer .seo-panel {
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;
    line-height: 0
}

.seo-footer .seo-panel:after {
    content: "";
    display: inline-block;
    width: 100%
}

.seo-footer .tab-content {
    padding: 30px 0;
    margin: -1px 0 0 0;
    border-top: 2px solid #5c666d
}

.seo-footer .tab-content li {
    display: block;
    margin: 0 0 10px 0;
    padding: 0
}

.seo-footer .tab-content .col {
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
    vertical-align: top
}

.tab-switcher {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    width: 1140px;
    min-height: 120px;
    margin: 0 auto;
    text-align: justify;
    line-height: 0
}

.tab-switcher:after {
    content: "";
    display: inline-block;
    width: 100%
}

.tab-switcher .tab-content {
    width: 100%
}

.js .tab-switcher .tab-content {
    position: absolute;
    display: none
}

.no-js .tab-switcher .tab-content {
    overflow: hidden;
    position: relative
}

.tab-switcher .tab-button {
    display: inline-block;
    cursor: pointer;
    top: 1px;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    -webkit-tap-highlight-color: initial
}

.tab-switcher .tab-group {
    display: inline
}

.tab-switcher .tab-group:first-child .tab-button {
    padding-left: 0
}

.tab-switcher .tab-group.last-group .tab-button {
    padding-right: 0
}

.tab-switcher .tab-group.is-selected .tab-content {
    display: block;
    z-index: 0
}

.tab-switcher .tab-group.is-selected .tab-content a {
    -webkit-tap-highlight-color: initial
}

.tab-switcher .tab-group.is-selected .tab-button {
    border-color: #00beb3;
    color: #fff
}

.rui-input {
    font-family: "Museo-Sans-500", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.rui-input.rui-select-link {
    padding: 9px 12px 7px 12px
}

.rui-input:focus {
    box-shadow: none
}

.rui-input:focus::-webkit-input-placeholder {
    opacity: .5;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out
}

.rui-form-element {
    padding: 7px 0 7px 0
}

.condition .rui-input,
select.rui-select {
    padding: 9px 12px 7px 12px;
    height: 39px;
    border: 2px #d8dadb;
    box-shadow: none
}

.rui-select-link span {
    color: #3c3c3c
}

select.rui-default-selected {
    color: #fff
}

.rui-select-menu * {
    cursor: pointer
}

.ie .rui-select-menu {
    box-sizing: content-box
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .rui-select-menu {
        box-sizing: content-box
    }
}

.rui-header {
    z-index: 1;
}

.rui-auto-complete-list {
    z-index: 1;
}

.search-form-container {
    position: relative;
    z-index: 1;
}

.rui-search-container .rui-input {
    line-height: 1.4em;
    border-width: 2px !important;
    border-color: #d8dadb !important
}

.ie8 .rui-search-container .rui-input {
    border-width: 2px;
    border-color: #d8dadb
}

.rui-header {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden
}


.rui-header.rui-header-inverse {
    top: 23px;
    background: transparent;
    border-bottom: transparent
}

.rui-header.rui-header-inverse .rui-header-container {
    width: 1140px;
    max-width: 1140px;
    height: 60px;
    padding: 0
}

.rui-header.rui-header-inverse .rui-nav-container {
    max-width: 1140px
}

.rui-header.rui-header-inverse .rui-nav-container .logo {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 60px;
    line-height: 60px;
    vertical-align: baseline
}

.rui-header.rui-header-inverse .rui-myrea-nav .logged-in .rui-person-guy {
    color: #fff
}

.rui-header.rui-header-inverse .rui-myrea-nav .logged-in .rui-person-guy:after {
    border-top-color: #fff
}

.rui-header.rui-header-inverse .rui-myrea-nav .logged-in .rui-person-guy.rui-icon-user-off.rui-toggle-open:after {
    border-bottom-color: #fff
}

.rui-header.rui-header-inverse .rui-main-nav {
    height: 46px;
    left: 245px
}

.rui-header.rui-header-inverse .rui-main-nav li,
.rui-header.rui-header-inverse .rui-main-nav a,
.rui-header.rui-header-inverse .rui-main-nav span {
    line-height: 37px
}

.rui-header.rui-header-inverse .rui-main-nav .rui-nav-tab {
    padding: 0 5px
}

.rui-header.rui-header-inverse .rui-main-nav .buy.rui-nav-tab:first-child a span {
    padding-left: 5px
}

.rui-header.rui-header-inverse .rui-main-nav .rui-nav-tab a,
.rui-header.rui-header-inverse .rui-main-nav .rui-nav-tab.rui-nav-active a {
    color: #fff
}

.rui-header.rui-header-inverse .rui-main-nav .rui-nav-active span {
    font-family: "Museo-Sans-700", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.rui-header.rui-header-inverse .rui-main-nav .rui-nav-active a {
    border-bottom: 2px solid #fff
}

.rui-header.rui-header-inverse .rui-main-nav .rui-nav-tab a:hover {
    border-bottom: 2px solid #fff;
}

.rui-header.rui-header-inverse .rui-main-nav span {
    padding: 0 5px;
}

.rui-header.rui-header-inverse .rui-user-menu li {
    height: 53px;
}

.rui-header.rui-header-inverse .rui-user-menu a {
    color: #fff;
}

.rui-header.rui-header-inverse .rui-user-menu .join {
    width: 81px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-color: transparent;

    display: inline-block;
    text-decoration: none;
    padding: .875em 1em;
    font-weight: 400;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1;
    border-style: solid;
    color: #fff;
    background: 0 0;
    text-align: center;
    transition-duration: .2s,.2s;
    transition-timing-function: ease-in,ease-out;
}

.rui-header.rui-header-inverse .rui-user-menu .join:hover {
    color: #333f48;
    background-color: #fff;
}

.rui-header.rui-header-inverse .rui-user-menu .rui-button-brand {
    padding: .75rem 1rem;
}

.rui-header.rui-header-inverse .rui-myrea-nav {
    right: 15px;
}


.hero {
    position: relative;
    background: #333f48 no-repeat center center;
    background-size: cover;
    /* color: #fff; */
    height: 60vh;
    min-height: 560px;
    max-height: 760px;
    overflow: hidden;
}

.hero .hero-ad-container {
    display: none;
}



.hero .hero-native-app {
    display: none;
    position: absolute;
    width: 100%;
    top: 279px;
    bottom: 0
}

.hero .hero-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover
}

.hero .hero-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out
}

.hero .blur-disappear {
    opacity: 0
}

.hero .image-placeholder {
    display: none
}


/*# sourceMappingURL=homepage.css.map */


@media (min-width: 1025px) { 

    .hero .hero-content {
        position: absolute;
        top: 262px;
        left: 50%;
        margin-top: -155px;
        margin-left: -467.5px;
        z-index: 2;
    }


    .search-form-container {
        width: 935px;
    }


}


@media (max-width: 1024px) { 

    .hero .hero-content { 
        width: 100%;
        position: absolute;
        top: 10%;
        left: 0;
    }


    .search-form-container, .search-refinements {
        width: 100%;
    }

    .q-homeplage-search-custom-container .q-item {
        margin: 20px 0;
    }

    .search-refinements .condition {
        float: none;
        display: block;
        text-align: center;
        margin: 20px auto;
    }

}


@media (max-width: 767px) { 
    .hero {
        height: 800px;
        min-height: 750px;
        max-height: 800px;
    }
}