/* CUSTOM THEME RESTORED */
.rs_topheader {
    z-index: 102;
}

.rs_button_green {
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s;
    -o-transition: border-color 0.3s, color 0.3s;
    -ms-transition: border-color 0.3s, color 0.3s;
    -moz-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    background-color: #77bf81;
    color: #FFF;
}
.rs_button_green:hover {
    color: #222222;
    border-color: #fff;
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}
.rs_button_green:hover::before {
    opacity: 1;
    background-color: #fff;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -o-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.rs_button_red {
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s;
    -o-transition: border-color 0.3s, color 0.3s;
    -ms-transition: border-color 0.3s, color 0.3s;
    -moz-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    background-color: #db3236;
    color: #fff;
}

.rs_button_red:hover {
    color: #222222 !important;
    border-color: #fff;
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}
.rs_button_red:hover::before {
    opacity: 1;
    background-color: #fff;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -o-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.rs_graybg, .rs_filte {
    float: none;
}

.rs_index2_topheader .logo img {
    padding: 10px 0;
}


.rs_preloader .lines {
    background-color: transparent;
}


@media (min-width: 1025px) { 

    .rs_index3_logo {
        width: 110px;
    }


    .rs_index3_menu .navbar-nav li a {
        font-size: 16px;
        font-weight: bold;
    }

    .rs_testimonial_section .rs_signup_logo img {
        width: 110px;
    }

    .rs_index2_topheader .rs_index2_topheader_links {
        margin-top: 20px;
    }

}


@media (max-width: 1024px) { 

    .rs_index3_logo .navbar-toggle {
        float: none;
        margin: 20px auto;
    }


    .rs_index3_menu .navbar-nav {
        float: none;
        text-align: center;
    }


    .rs_index3_menu .navbar-nav li {
        padding-right: 0px;
    }


    .rs_index3_menu .navbar-nav li a {
        font-size: 16px;
        font-weight: bold;
    }

    .rs_index3_menu .navbar-nav li:after {
        right: -10px;
    }

    .rs_index2_topheader .logo img {
        margin: 0 auto;
    }

    .rs_index2_topheader .rs_index2_topheader_links {
        margin-top: 25px;
    }

}



@media (max-width: 767px) and (min-width: 480px) {
    .rs_graybg {
        padding: 20px 0;
    }
}



.rs_search_section {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}


.user-nav {
    padding-right: 0;
}

.user-nav .rs_user_pic {
    width: 30%;
}

.rs_user_profile {
    width: 230px;
}

.rs_topheader_right {
    z-index: 99;
}

.rs_index2_topheader, .rs_topheader {
    background-image: url(../images/bgpattern.png);
    background-size: cover;
}

.rs_left_tabwrapper ul.nav-tabs li a {
    width: 70%;
}

.menu-wrap {
    background-color: #FFF;
}

.rs_user_pic {
    float: right;
}

.rs_user_profile {
    right: 0;
    left: auto;
}


.rs_subscribe_section_form .q-btn-get-started {
    min-width: 175px;
}


.rs_topheader_left {
    padding: 15px 0;
}


.rs-select-wrapper, .rs-select-wrapper select {
    height: 60px;
    line-height: 30px;
    padding: 10px 15px;
}


.rs_user_pic {
    border-right: 0;
}


.rs_product_price {
    width: 140px;
    transform: translate(-50%, 0);
    margin-left: 0;
    /* opacity: 0.8; */
}


.rs_product_detail {
    overflow: hidden;
    padding: 80px 0px 10px 0px;
}

.rs_product_price {
    margin-top: -10px;
}

.rs_product_div:hover .rs_product_price {
    margin-top: -50px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.rs_product_div:hover .rs_product_detail {
    padding: 40px 0px 10px 0px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


.rs_product_price h2 {
    border-radius: 0;
}

.rs_overlay_inner ul {
    text-align: center;
}


.rs_pagetitle {
    background-image: url(../images/cover-post.jpg);
    background-position: center;
    margin-top: 0;
}


/* END CUSTOM THEME RESTORED */


a.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
  cursor: default !important;
}

.search-disabled {
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}


a.delete-btn {
    color: red !important;
}

.red-symbol {
    color: red;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.home-logo {
	width: 10%;
}

.q-empty-input {
    border: 1px solid red !important;
}

.q-custom-homepage-choose-type-search {
    width: 100%;
    /* height: 60px; */
    float: left;
}

.q-custom-homepage-choose-type-search .rs-select-wrapper {
	background-position: 90% 28px;
}

.q-custom-homepage-choose-type-search .rs-custom-select {
	top: 0;
}

.q-custom-homepage-choose-type-search .rs-holder {
    font-size: 18px;
    padding-top: 10px;
}


.q-custom-button-join:hover {
	background-color: #FFF;
	color: #000;
}


.search-form-container {
    background-color: transparent !important;
}


.post-detail .property-detail h4, .post-detail .property-detail h5 {
    color: #FFF;
}

#autocomplete {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.q-padding-top-100 {
    padding-top: 100px !important;
}

.margin-top-30 {
    margin-top: 30px;
}

.rs_single_product_slider {
    position: relative;
}

.rs_single_product_slider.pending-post .pgwSlideshow img {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.post-pending-galleries-bg {
    /* background-image: url(../images/blur-bg.png); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 98;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: #FFF;
}

.post-pending-galleries-bg .text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.post-pending-galleries-bg .text h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.post-pending-galleries-bg .text p {
    font-size: 18px;
    font-weight: bold;
}




/** notifications **/
.notify {
    display: block;
    background: #fff;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    text-align: center;
}

.notify h1 { margin-bottom: 6px; }

.successbox h1 { color: #678361; }
.errorbox h1 { color: #6f423b; }

.successbox h1:before, .successbox h1:after { background: #cad8a9; }
.errorbox h1:before, .errorbox h1:after { background: #d6b8b7; }

.notify .alerticon { 
    display: block;
    text-align: center;
    margin-bottom: 10px;
}


.q-success-box {
    display: none;
}

.rs_error_section {
    margin-top: 30px;
}

.images-kangaroo-404 {
    width: 15%;
}

#sharePopup .jssocials-share {
    font-size: 14px;
}

#sharePopup-widget .jssocials-share {
    font-size: 12px;
}

.rs_social ul li a, .rs_social ul li a:hover {
    color: #FFF;
}


.ribbon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 100px;
  border: 60px solid #0a7876;
  border-top: 0 solid;
  border-bottom: 35px solid rgba(0,0,0,0);
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
}

.price-tag {
    text-align: center;
    position: absolute;
    z-index: 101;
}


.price-tag .status {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.price-tag .price {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.privacy-page .content, .terms-page .content {
    background-color: #FFF;
}


.rs_sidebar_wrapper .tag_cloud_box a.active {
    color: #fff;
    background-color: #fe5722;
}

.rs_listview .rs_listview_price {
    padding-left: 10px;
}

.rs_listview .rs_listview_price h2 {
    width: 100px;
    border-radius: 0;
}


.message-list-post .title {
    display: none;
    padding-top: 50px !important;
}

.rs_author_dashboard_tab_info_img img {
    width: 150px;
    height: 150px;
}

.rs_product_div {
    overflow: hidden;
}

.wishlist-item {
    display: none;
    width: 160px;
    position: absolute;
    z-index: 99;
    right: -115px;
    top: 15px;
    font-size: 18px;
    color: #fe5722;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.wishlist-item.active {
    display: block;
}

.btn-remove-wishlist {
    display: none;
    font-size: 12px;
    white-space: nowrap;
}

.wishlist-item:hover {
    right: 15px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    -o-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    /* color: #FFF; */
}

.wishlist-item:hover .btn-remove-wishlist {
    display: inline-block;
    color: #FFF;
}

.q-tab-pane {
    margin-bottom: 20px;
}


/*------------------------------LOAD MORE SEARCH----------------------*/
.loading-status {
    position: relative;
    float: left;
    width: 100%;
    display: none;
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.2s infinite ease-in-out;
  animation: load7 1.2s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 7px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/*------------------------------END LOAD MORE SEARCH----------------------*/


/*-------------------------------------------------------------- QUERY MEDIA ------------------------------------*/

@media (min-width: 768px) {

    .rs_topheader_left {
        /* width: 70%; */
    }

    .rs_product_detail {
        min-height: 160px;
        max-height: 160px;
    }

    .rs_product_div {
        min-height: 400px;
        max-height: 400px;
    }

}

@media (max-width: 1024px) {
    .user-nav .rs_user_pic {
        width: 50%;
    }

}

@media (max-width: 767px) {
    .user-nav .rs_user_pic {
        width: 75%;
    }

    .rs_user_profile {
        width: 75%;
    }
    
}


@media (max-width: 767px) {
    
}

@media (max-width: 991px) and (min-width: 768px) {
    .rs_topheader_left, .rs_topheader_right {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .rs_user_pic, .show-menu .rs_user_pic {
        width: 100%;
    }
}